.column-layout {
    display: flex;
    flex-direction: column;
}
.update-inventory-container {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    height: 100%;
}
.row-layout {
    display: flex;
}
.group {
    justify-content: center;
    align-items: stretch;
    align-content: flex-start;
    position: relative;
    width: 1445px;
    height: 94px;
    min-width: 50px;
    min-height: 50px;
}
.group_1 {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    position: relative;
    height: 805px;
    min-width: 50px;
    min-height: 50px;
}
.button {
    margin: 30px;
    height: max-content;
    min-width: min-content;
    flex-shrink: 0;
}
.checkbox {
    margin: 39px;
    width: max-content;
    height: max-content;
}
.grid {
    min-width: 600px;
    min-height: 300px;
    flex-grow: 1;
    flex-basis: 0;
}
