@page "/"
@inject Data.KboInventoryTicketsService kboInventoryTicketsService

@*@using Infragistics.Documents.Excel*@

<div class="row-layout upload-inventory-sheets-container">
    <div class="column-layout group">
        <h5 class="h5">
            View 1
        </h5>
        <div class="row-layout group_1">
            @*https://blazorinputfileextended.community-mall.com/how-to-use/change-buttons*@
            <InputFileExtended SelectionText="Selected"
                               ButtonShow="true"
                               TargetToPostFile="upload/file">
                <InputContent>
                    <i class="oi oi-file"></i>
                    <span>Select New Books</span>
                </InputContent>
                <ButtonContent>
                    <i class="oi oi-cloud-upload"></i>
                    <span>Load New Books</span>
                </ButtonContent>
            </InputFileExtended>
            <IgbButton class="button" upload-inventory-sheets-scope>
                <span class="material-icons">
                    Upload To Server
                </span>
                <span>Load New Titles</span>
                <IgbRipple></IgbRipple>
            </IgbButton>
            <IgbButton Disabled="true" class="button_1" upload-inventory-sheets-scope>
                <span class="material-icons">
                    archive
                </span>
                <span>Load Prior Titles</span>
                <IgbRipple></IgbRipple>
            </IgbButton>
        </div>
        <div class="row-layout group_1">
            @*https://blazorinputfileextended.community-mall.com/how-to-use/change-buttons*@
            <InputFileExtended SelectionText="Selected"
                               ButtonShow="true"
                               TargetToPostFile="upload/file">
                <InputContent>
                    <i class="oi oi-file"></i>
                    <span>Select New Books</span>
                </InputContent>
                <ButtonContent>
                    <i class="oi oi-cloud-upload"></i>
                    <span>Upload New Books</span>
                </ButtonContent>
            </InputFileExtended>
            <IgbButton class="button" upload-inventory-sheets-scope>
                <span class="material-icons">
                    move_to_inbox
                </span>
                <span>Load New Titles</span>
                <IgbRipple></IgbRipple>
            </IgbButton>
            <IgbButton Disabled="true" class="button_1" upload-inventory-sheets-scope>
                <span class="material-icons">
                    archive
                </span>
                <span>Load Prior Titles</span>
                <IgbRipple></IgbRipple>
            </IgbButton>
        </div>
        <div class="column-layout group_2">
            <IgbGrid Data="uploadInventoryTable" PrimaryKey="ISBN" DisplayDensity="DisplayDensity.Cosy" AutoGenerate="false" class="ig-typography grid" upload-inventory-sheets-scope>
                <IgbColumn Field="ISBN" DataType="GridColumnDataType.String" Header="ISBN" Filterable="false" Selectable="false"></IgbColumn>
                <IgbColumn Field="Title" DataType="GridColumnDataType.String" Header="Title" Filterable="false" Selectable="false"></IgbColumn>
                <IgbColumn Field="Author" DataType="GridColumnDataType.String" Header="Author" Filterable="false" Selectable="false"></IgbColumn>
                <IgbColumn Field="Publisher" DataType="GridColumnDataType.String" Header="Publisher" Filterable="false" Selectable="false"></IgbColumn>
                <IgbColumn Field="Category" DataType="GridColumnDataType.String" Header="Category" Filterable="false" Selectable="false"></IgbColumn>
                <IgbColumn Field="Subject" DataType="GridColumnDataType.String" Header="Subject" Filterable="false" Selectable="false"></IgbColumn>
                <IgbColumn Field="Binding" DataType="GridColumnDataType.String" Header="Binding" Filterable="false" Selectable="false"></IgbColumn>
                <IgbColumn Field="List$USD" DataType="GridColumnDataType.Number" Header="List$USD" Filterable="false" Selectable="false"></IgbColumn>
                <IgbColumn Field="Net$USD" DataType="GridColumnDataType.Number" Header="Net$USD" Filterable="false" Selectable="false"></IgbColumn>
                <IgbColumn Field="AvaliableQuantity" DataType="GridColumnDataType.Number" Header="AvaliableQuantity" Filterable="false" Selectable="false"></IgbColumn>
                <IgbColumn Field="Blowout" DataType="GridColumnDataType.String" Header="Blowout" Filterable="false" Selectable="false"></IgbColumn>
                <IgbColumn Field="Category2" DataType="GridColumnDataType.String" Header="Category2" Filterable="false" Selectable="false"></IgbColumn>
                <IgbColumn Field="Category3" DataType="GridColumnDataType.String" Header="Category3" Filterable="false" Selectable="false"></IgbColumn>
                <IgbColumn Field="Subject2" DataType="GridColumnDataType.String" Header="Subject2" Filterable="false" Selectable="false"></IgbColumn>
                <IgbColumn Field="Subject3" DataType="GridColumnDataType.String" Header="Subject3" Filterable="false" Selectable="false"></IgbColumn>
                <IgbColumn Field="Age" DataType="GridColumnDataType.String" Header="Age" Filterable="false" Selectable="false"></IgbColumn>
                <IgbColumn Field="CalendarEvent" DataType="GridColumnDataType.String" Header="CalendarEvent" Filterable="false" Selectable="false"></IgbColumn>
            </IgbGrid>
        </div>
    </div>
</div>

@code {
    private Models.KboInventoryTicket[] uploadInventoryTable = Array.Empty<Models.KboInventoryTicket>();

    protected override async Task OnInitializedAsync()
    {
        uploadInventoryTable = await this.kboInventoryTicketsService.GetTable1() ?? uploadInventoryTable;
    }
}
